<div class="banner" style="background-image: url({{ '/assets/images/banner.jpg' | relative_url }});">
  <div class="banner__slides">

    <div class="banner__content">
      <div class="container">
        <div class="banner__content-inner">
          <h2 class="banner__title">Need athletic equipment or clothing?</h2>
          <p class="banner__text">You've come to the right place.</p>
          <a class="btn btn--inverse" href="{{ "/products" | relative_url }}" title="Browse our product offerings">Browse Products</a>
        </div>
      </div>
    </div>
    {% comment %} <div class="banner__content">
      <div class="container">
        <div class="banner__content-inner">
          <h2 class="banner__title">This is another slide</h2>
          <p class="banner__text">It will have more content!</p>
          <a class="btn btn--inverse" href="{{ "/gallery" | relative_url }}" title="View our gallery">View Photo Gallery</a>
        </div>
      </div>
    </div> {% endcomment %}

  </div>
</div>