---
layout: default
---

{% include home-banner.html %}

<div class="home__specialties-wrapper">
  <div class="container">

    <div class="home__centered-section">
      <h2 class="home__specialties-heading">Our specialties include</h2>
    </div>

    <div class="grid-center">
      <div class="col-3_md-6_xs-12 home__specialties-item-wrapper">
        <div class="home__specialties-item">
          <img class="home__specialties-icon" src="{{ '/assets/images/home-icon__sports-equipment.svg' | relative_url }}" alt="Sports equipment" />
          <h3 class="home__specialties-title">Sports Equipment</h3>
        </div>
      </div>
      <div class="col-3_md-6_xs-12 home__specialties-item-wrapper">
        <div class="home__specialties-item">
          <img class="home__specialties-icon" src="{{ '/assets/images/home-icon__jerseys-and-uniforms.svg' | relative_url }}" alt="Jerseys and Team Uniforms" />
          <h3 class="home__specialties-title">Jerseys and Team Uniforms</h3>
        </div>
      </div>
      <div class="col-3_md-6_xs-12 home__specialties-item-wrapper">
        <div class="home__specialties-item">
          <img class="home__specialties-icon" src="{{ '/assets/images/home-icon__school-garments.svg' | relative_url }}" alt="School Garments" />
          <h3 class="home__specialties-title">School Garments</h3>
        </div>
      </div>
      <div class="col-3_md-6_xs-12 home__specialties-item-wrapper">
        <div class="home__specialties-item">
          <img class="home__specialties-icon" src="{{ '/assets/images/home-icon__score-tables.svg' | relative_url }}" alt="Custom Wall Padding and Score Tables" />
          <h3 class="home__specialties-title">Custom Wall Padding and Score Tables</h3>
        </div>
      </div>
    </div>

    <div class="home__centered-section">
      <a class="btn" href="{{ "/products" | relative_url }}" title="View all our services">Browse Products</a>
    </div>
  </div>
</div>

<div class="home__about-wrapper">
  <div class="container">
    <div class="grid-center">
      <div class="col-7_md-9_sm-12">
        <div>
          <p>Baltic Athletics began operations in October , 2014 and is simply named after Rauno’s Finnish and Estonian heritage.</p>
          <p>We are a family-owned and operated business with roots near Ile Des Chenes, Manitoba.</p>
          <p>Since then we have met and worked with many great people, who we have really enjoyed getting to know better.</p>
          <p>Our enhanced website is now up and running to view our expanded selection of top-notch suppliers and products.</p>
          <p>We make the process simple and easy, saving you time and ensuring that you get the appropriate products from your shopping/wish list. We can advise you on what is the best value for your school or team’s requirements of equipment, team uniforms and clothing. This comes from over 38 years of experience gathered by working in the sporting-goods industry since 1982.</p>
          <p>We guarantee that you will be satisfied with your purchases and we will stand by our commitment to giving you the best value and service that we can provide.</p>
          <p>For all inquiries feel free to contact us anytime by email at <a href="mailto:info@balticathletics.com">info@balticathletics.com</a></p>
          <p>To reach Rauno for equipment inquiries email or call his cell phone at <a href="tel:+12047813342">204-781-3342</a></p>
          <p>For team uniforms, clothing and promotional items please contact Corina at <a href="mailto:info@balticathletics.com">info@balticathletics.com</a></p>
          <p>We look forward to working with you in the near future.</p>
        </div>
        <hr />
        <div>
          <p>Baltic Athletics a commencé ses opérations en octobre 2014 et porte simplement le nom de l'héritage finlandais et estonien de Rauno.</p>
          <p>Nous sommes une entreprise familiale avec des racines près de l'île Des Chenes, au Manitoba.</p>
          <p>Depuis ce temps, nous avons rencontré et travaillé avec de nombreuses personnes formidables, que nous avons vraiment apprécié de mieux connaître.</p>
          <p>Notre site Web amélioré est maintenant opérationnel pour voir notre sélection élargie de fournisseurs et de produits.</p>
          <p>Nous rendons le processus simple et facile, vous faisant gagner du temps et veillant à ce que vous obteniez les produits appropriés sur votre liste. Nous pouvons vous conseiller sur la meilleure valeur pour les besoins de votre école ou de votre équipe en matière d'équipement, d'uniformes d'équipe et de vêtements. Cela vient avec plus de 38 ans d'expérience accumulés en travaillant dans l'industrie des articles de sport depuis 1982.</p>
          <p>Nous garantissons que vous serez satisfait de vos achats et nous travaillons fort à vous offrir la meilleure valeur et le meilleur service que nous puissions vous fournir.</p>
          <p>Pour toutes demandes, n'hésitez pas à nous contacter à tout moment par courriel à <a href="mailto:info@balticathletics.com">info@balticathletics.com</a>.</p>
          <p>Pour joindre Rauno pour des demandes d’équipement, vous pouvez envoyer un courriel ou appeler son téléphone cellulaire au <a href="tel:+12047813342">204-781-3342</a>.</p>
          <p>Pour les uniformes d'équipe, les vêtements et les articles promotionnels, veuillez contacter Corina à <a href="mailto:info@balticathletics.com">info@balticathletics.com</a>.</p>
          <p>Nous avons hâtes de travailler avec vous.</p>
        </div>
      </div>
      <div class="col-2_md-3 sm-hide">
        <img class="home__about-photo image__block" src="{{ '/assets/images/rauno.jpg' | relative_url }}" alt="Rauno Ruus, Owner of Baltic Athletics" />
      </div>
    </div>
  </div>
</div>

<div class="home__testimonials-wrapper home__centered-section">
  <div class="container">
    <div class="grid-center">
      <div class="col-7_md-12">
        <div class="home__testimonials-slider">
          <div class="home__testimonials-item">
            <blockquote>
              <p>The orders were all organized and we will be handing them out to students this morning. We couldn’t keep the staff from claiming theirs yesterday afternoon, so there are a lot of new pieces of school clothing floating around already. Personally, I’m very happy with my order and I can see that others are as well. A big “thank you” from all of us goes out to you and your company. You guys make this process extremely pain-free.</p>
            </blockquote>
          </div>
          <div class="home__testimonials-item">
            <blockquote>
              <p>We received your shipment yesterday for all the Ness gear and the items look great! Staff and students are very excited to sport their new Ness wear. We appreciate working with you. The process has been very easy from ordering right down to distributing items to all students.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
