---
layout: default
---

<div class="banner" style="background-image: url({{ '/assets/images/banner.jpg' | relative_url }});">
  <div class="banner__content">
    <div class="container">
      <div class="banner__content-inner">
        <h2 class="banner__title">Need athletic equipment or clothing?</h2>
        <p class="banner__text">You've come to the right place.</p>
        <a class="btn btn--inverse" href="{{ "/products" | relative_url }}" title="Browse our product offerings">Browse Products</a>
      </div>
    </div>
  </div>
</div>

<div class="home__specialties-wrapper">
  <div class="container">

    <div class="home__centered-section">
      <h2 class="home__specialties-heading">Our specialties include</h2>
    </div>

    <div class="grid-center">
      <div class="col-3_md-6_xs-12 home__specialties-item-wrapper">
        <div class="home__specialties-item">
          <img class="home__specialties-icon" src="{{ '/assets/images/home-icon__sports-equipment.svg' | relative_url }}" alt="Sports equipment" />
          <h3 class="home__specialties-title">Sports Equipment</h3>
        </div>
      </div>
      <div class="col-3_md-6_xs-12 home__specialties-item-wrapper">
        <div class="home__specialties-item">
          <img class="home__specialties-icon" src="{{ '/assets/images/home-icon__jerseys-and-uniforms.svg' | relative_url }}" alt="Jerseys and Team Uniforms" />
          <h3 class="home__specialties-title">Jerseys and Team Uniforms</h3>
        </div>
      </div>
      <div class="col-3_md-6_xs-12 home__specialties-item-wrapper">
        <div class="home__specialties-item">
          <img class="home__specialties-icon" src="{{ '/assets/images/home-icon__school-garments.svg' | relative_url }}" alt="School Garments" />
          <h3 class="home__specialties-title">School Garments</h3>
        </div>
      </div>
      <div class="col-3_md-6_xs-12 home__specialties-item-wrapper">
        <div class="home__specialties-item">
          <img class="home__specialties-icon" src="{{ '/assets/images/home-icon__score-tables.svg' | relative_url }}" alt="Custom Wall Padding and Score Tables" />
          <h3 class="home__specialties-title">Custom Wall Padding and Score Tables</h3>
        </div>
      </div>
    </div>

    <div class="home__centered-section">
      <a class="btn" href="{{ "/products" | relative_url }}" title="View all our services">Browse Products</a>
    </div>
  </div>
</div>

<div class="home__about-wrapper">
  <div class="container">
    <div class="grid-center">
      <div class="col-7_md-9_sm-12">
        <p>With over <strong>35 years</strong> of experience selling athletic equipment and clothing, you can be guaranteed <strong>expert</strong> advice and <strong>authentic</strong> service. We supply quality product for great prices from brand names such as <strong>Mikasa</strong>, <strong>Spalding</strong>, <strong>Dynamic</strong>, <strong>Russell</strong> and <strong>360 Athletics</strong>. Feel free to give me a call, send an e-mail or text me and we’ll work together to find exactly what you’re looking for.</p>
        <hr />
        <p>Avec plus de <strong>35 ans</strong> d’expérience dans la vente d’équipements et vêtements sportifs, vous êtes sûr de recevoir des conseils <strong>d’expert</strong> et un service professionnel avec <strong>intégrité</strong>. Nous offrons des produits de qualité, telles les marques <strong>Mikasa</strong>, <strong>Spalding</strong>, <strong>Dynamic</strong>, <strong>Russell</strong> et <strong>360 Athletics</strong> à des prix abordables. N’hésitez pas à communiquer avec moi, par téléphone ou par courriel. J’ai hâte de travailler ensemble pour trouver exactement ce dont vous avez besoin.</p>
        <div class="home__about-owner">
          <p>Rauno Ruus, <em>Owner/Propriétaire</em></p>
          <p><em><a href="tel:+12047813342">204-781-3342</a></em></p>
          <p><em><a href="mailto:rauno@balticathletics.com">rauno@balticathletics.com</a></em></p>
        </div>
      </div>
      <div class="col-2_md-3 sm-hide">
        <img class="home__about-photo image__block" src="{{ '/assets/images/rauno.jpg' | relative_url }}" alt="Rauno Ruus, Owner of Baltic Athletics" />
      </div>
    </div>
  </div>
</div>

<div class="home__testimonials-wrapper home__centered-section">
  <div class="container">
    <div class="grid-center">
      <div class="col-7_md-12">
        <div class="home__testimonials-slider">
          <div class="home__testimonials-item">
            <blockquote>
              <p>The orders were all organized and we will be handing them out to students this morning. We couldn’t keep the staff from claiming theirs yesterday afternoon, so there are a lot of new pieces of school clothing floating around already. Personally, I’m very happy with my order and I can see that others are as well. A big “thank you” from all of us goes out to you and your company. You guys make this process extremely pain-free.</p>
            </blockquote>
          </div>
          <div class="home__testimonials-item">
            <blockquote>
              <p>We received your shipment yesterday for all the Ness gear and the items look great! Staff and students are very excited to sport their new Ness wear. We appreciate working with you. The process has been very easy from ordering right down to distributing items to all students.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>