---
layout: default
---

<div class="page__header" style="background-image: url('{{ "/assets/images/banner-catalogues.jpg" | relative_url }}');">
  <div class="container">
    <div class="grid-middle">
        <div class="col-12">
          <h1 class="page__header-title">{{ page.title }}</h1>
        </div>
    </div>
  </div>
</div>
<div class="container page__content">
  <div class="grid-center">
    <div class="col-8_md-12 rte">
      <form action="https://balticathletics.us12.list-manage.com/subscribe/post?u=f6e8fff473ef80ff7214f09be&amp;id=6e012bb788" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="grid">
          <div class="col-12 margin-30">
            {{ content }}
          </div>
          <div class="col-6_xs-12 margin-20">
            <div class="input-wrapper">
              <label class="label-wire" for="mce-FNAME">First Name<span class="asterisk">*</span></label>
              <input id="mce-FNAME" class="input-wire__text required" type="text" name="FNAME" placeholder="Jane" />
            </div>
          </div>
          <div class="col-6_xs-12 margin-20">
            <div class="input-wrapper">
              <label class="label-wire" for="mce-LNAME">Last Name<span class="asterisk">*</span></label>
              <input id="mce-LNAME" class="input-wire__text required" type="text" name="LNAME" placeholder="Doe" />
            </div>
          </div>
          <div class="col-6_xs-12 margin-20">
            <div class="input-wrapper">
              <label class="label-wire" for="mce-EMAIL">Email Address<span class="asterisk">*</span></label>
              <input id="mce-EMAIL" class="input-wire__text required" type="email" name="EMAIL" placeholder="jane.doe@email.com" />
            </div>
          </div>
          <div class="col-6_xs-12 margin-20">
            <div class="input-wrapper">
              <label class="label-wire" for="mce-MMERGE3">School/Organization Name<span class="asterisk">*</span></label>
              <input id="mce-MMERGE3" class="input-wire__text required" type="email" name="MMERGE3" placeholder="School or organization name" />
            </div>
          </div>
          <div class="col-12 margin-20">
            <div class="input-group">
              <label class="label-wire">Sports interested in</label>
              <ul>
                <li><input class="input-wire__checkbox" type="checkbox" value="1" name="group[3121][1]" id="mce-group[3121]-3121-0"><label for="mce-group[3121]-3121-0">Archery</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="2" name="group[3121][2]" id="mce-group[3121]-3121-1"><label for="mce-group[3121]-3121-1">Badminton</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="4" name="group[3121][4]" id="mce-group[3121]-3121-2"><label for="mce-group[3121]-3121-2">Baseball</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="8" name="group[3121][8]" id="mce-group[3121]-3121-3"><label for="mce-group[3121]-3121-3">Basketball</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="16" name="group[3121][16]" id="mce-group[3121]-3121-4"><label for="mce-group[3121]-3121-4">Beach Volleyball</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="32" name="group[3121][32]" id="mce-group[3121]-3121-5"><label for="mce-group[3121]-3121-5">Boxing</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="64" name="group[3121][64]" id="mce-group[3121]-3121-6"><label for="mce-group[3121]-3121-6">Floor Hockey</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="128" name="group[3121][128]" id="mce-group[3121]-3121-7"><label for="mce-group[3121]-3121-7">Football</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="256" name="group[3121][256]" id="mce-group[3121]-3121-8"><label for="mce-group[3121]-3121-8">Futsal</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="512" name="group[3121][512]" id="mce-group[3121]-3121-9"><label for="mce-group[3121]-3121-9">Hockey</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="1024" name="group[3121][1024]" id="mce-group[3121]-3121-10"><label for="mce-group[3121]-3121-10">Lacrosse</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="2048" name="group[3121][2048]" id="mce-group[3121]-3121-11"><label for="mce-group[3121]-3121-11">Ringette</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="4096" name="group[3121][4096]" id="mce-group[3121]-3121-12"><label for="mce-group[3121]-3121-12">Rugby</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="8192" name="group[3121][8192]" id="mce-group[3121]-3121-13"><label for="mce-group[3121]-3121-13">Soccer</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="16384" name="group[3121][16384]" id="mce-group[3121]-3121-14"><label for="mce-group[3121]-3121-14">Table Tennis</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="32768" name="group[3121][32768]" id="mce-group[3121]-3121-15"><label for="mce-group[3121]-3121-15">Team Handball</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="65536" name="group[3121][65536]" id="mce-group[3121]-3121-16"><label for="mce-group[3121]-3121-16">Tennis</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="131072" name="group[3121][131072]" id="mce-group[3121]-3121-17"><label for="mce-group[3121]-3121-17">Track &amp; Field</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="262144" name="group[3121][262144]" id="mce-group[3121]-3121-18"><label for="mce-group[3121]-3121-18">Ultimate</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="524288" name="group[3121][524288]" id="mce-group[3121]-3121-19"><label for="mce-group[3121]-3121-19">Volleyball</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="1048576" name="group[3121][1048576]" id="mce-group[3121]-3121-20"><label for="mce-group[3121]-3121-20">Water Polo</label></li>
                <li><input class="input-wire__checkbox" type="checkbox" value="2097152" name="group[3121][2097152]" id="mce-group[3121]-3121-21"><label for="mce-group[3121]-3121-21">Weight Lifting</label></li>
              </ul>
            </div>
          </div>
          <div class="col-12 margin-20">
            <div class="input-group">
              <label class="label-wire">Your role</label>
              <ul>
                <li><input type="checkbox" value="4194304" name="group[3129][4194304]" id="mce-group[3129]-3129-0"><label for="mce-group[3129]-3129-0">Athletic Director/Coach</label></li>
                <li><input type="checkbox" value="8388608" name="group[3129][8388608]" id="mce-group[3129]-3129-1"><label for="mce-group[3129]-3129-1">Administration</label></li>
                <li><input type="checkbox" value="16777216" name="group[3129][16777216]" id="mce-group[3129]-3129-2"><label for="mce-group[3129]-3129-2">Elementary Schools</label></li>
                <li><input type="checkbox" value="33554432" name="group[3129][33554432]" id="mce-group[3129]-3129-3"><label for="mce-group[3129]-3129-3">High Schools</label></li>
                <li><input type="checkbox" value="67108864" name="group[3129][67108864]" id="mce-group[3129]-3129-4"><label for="mce-group[3129]-3129-4">College</label></li>
              </ul>
            </div>
          </div>
          <div class="col-12 margin-20">
            <div class="input-group">
              <label class="label-wire">Email format</label>
              <ul>
                <li><input class="input-wire__radio" type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
                <li><input class="input-wire__radio" type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f6e8fff473ef80ff7214f09be_6e012bb788" tabindex="-1" value=""></div>
            <button type="submit" class="btn form-submit" id="mc-embedded-subscribe"><i class="fas fa-paper-plane btn__icon"></i><span class="btn__text">Subscribe</span></button>
          </div>
        </div>
      </form>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
      <script type='text/javascript'>
        (function($) {
          window.fnames = new Array();
          window.ftypes = new Array();
          fnames[0]='EMAIL';
          ftypes[0]='email';
          fnames[1]='FNAME';
          ftypes[1]='text';
          fnames[2]='LNAME';
          ftypes[2]='text';
          fnames[3]='MMERGE3';
          ftypes[3]='text';
          fnames[4]='COMPANY';
          ftypes[4]='text';
          fnames[5]='ADDRESS';
          ftypes[5]='address';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
      </script>
    </div>
  </div>
</div>