---
layout: default
---

<div class="page__header" style="background-image: url('{{ "/assets/images/banner-catalogues.jpg" | relative_url }}');">
  <div class="container">
    <div class="grid-middle">
        <div class="col-12">
          <h1 class="page__header-title">Products</h1>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="grid-center">
    <div class="col-10_md-12">
      <div class="search">
        <form class="search__form category__search-form">
          <div class="input__wrapper search__input-wrapper cf">
            <input class="input__text search__input" type="text" placeholder="What are you looking for?" />
            <button class="btn search__btn"><i class="fal fa-search"></i><span class="search__btn-text sm-hide"> Search</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="categories__all">
  {% assign productPages = site.pages | where: 'layout', "product" %}
  {% for product in site.data.product_list.product_list %}
    <div class="category">
      <div class="container">
        <div class="grid-center">
          <div class="col-10_md-12">
            <div class="page__title-wrapper cf">
              {% assign productHandle = product.product_type | slugify %}
              {% capture productImageUrl %}/assets/images/title-{{ productHandle }}.svg{% endcapture %}
              <div class="page__title-img-wrapper">
                <img class="page__title-img" src="{{ productImageUrl | relative_url }}" />
              </div>
              <h2 class="page__title">{{ product.product_type }}</h2>
            </div>
          </div>
        </div>
      </div>
      {% if product.products.size > 0 %}
      <div class="container">
        <div class="grid-center">
          <div class="col-10_md-12">
            <div class="grid">
              {% assign subProducts = product.products | sort %}
              {% for item in subProducts %}
                {% assign itemHandle = item | remove: "products/" | remove: ".md" %}
                {% assign itemPermalink = item | remove: ".md" | prepend: "/" | append: "/" %}
                {% assign itemPage = productPages | where: 'permalink', itemPermalink %}
                {% capture itemImageUrl %}/assets/images/category-{{ itemHandle }}.svg{% endcapture %}
                <div class="col-2_md-3_sm-4_xs-6 catalogue__category-wrapper" data-test="{{ itemPermalink }}" data-category-title="{{ itemPage[0].title | downcase }},{{ itemPage[0].products | join: ',' | downcase }}">
                  {% capture itemLink %}/products/{{ itemHandle }}{% endcapture %}
                  <a href="{{ itemLink | relative_url }}" class="catalogue__category">
                    <div class="catalogue__category-img-wrapper">
                      <img class="catalogue__category-img" src="{{ itemImageUrl | relative_url }}" />
                    </div>
                    <div class="catalogue__category-title-wrapper">
                      <h5 class="catalogue__category-title">{{ itemPage[0].title }}</h5>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
<div class="categories__empty hide text-center">
  <p>Oops, it looks like we don't have any products containing your search. Reset or try a different search query!</p>
</div>